
/* gerais */

:root {
    --color1: #007fb1;
    --color2: #333333;
    --color3: #fefefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3, a {
    font-family: 'Roboto', sans-serif;
}

p, blockquote, cite {
    font-family: 'Open Sans', sans-serif; 
}

.text-container {
    max-width: 650px;
    width: 100%;
}

/* header */
header.header {
    height: 100vh;
    background-image: url('../assets/images/background.svg');
    position: relative;
}

header.header .container-header-1 {
    background-color: var(--color1);
    color: var(--color3);
    box-shadow: 0px 2px 4px -4px rgba(0,0,0,.6);
    position: fixed;
    width: 100%;
}

header.header .logo-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 60px;
}

header.header .logo-navigation .logo {
    font-size: 24px;
    padding: 0px 10px;
}

header.header .logo-navigation .menu-hamburger {
    display: none;
    padding: 0px 10px;
}

header.header .logo-navigation .logo a {
    text-decoration: none;
    color: var(--color3);
}

header.header .logo-navigation .navigation ul {
    display: flex;
    list-style: none;
}

header.header .logo-navigation .navigation ul li {
    margin-right: 20px;
}

header.header .logo-navigation .navigation ul li a {
    text-decoration: none;
    color: var(--color3);
}

header.header .container-header-2 {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    height: calc(100% + 0px);
    color: var(--color2)
}

header.header .container-header-2 > div {
    display: flex;
    justify-content: space-between;
}

header.header .container-header-2 .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header.header .container-header-2 .text h1 {
    font-size: 60px;
    line-height: 40px;
    margin-bottom: 20px;
}

header.header .container-header-2 .text span {
    color: var(--color1);
    font-size: 36px;
}

header.header .container-header-2 .callToAction {
    background-color: var(--color1);
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
}

header.header .container-header-2 .callToAction:hover {
    filter: brightness(90%);
}

header.header .container-header-2 .callToAction a {
    color: var(--color3);
    text-decoration: none;
    display: block;
    padding: 22px;
    font-size: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: bold; 
}

header.header .container-header-2 img {
    width: 60%;
}

/* about */

section.about {
    height: 100vh;
    background-image: url('../assets/images/background2.svg');
    backface-visibility: inherit;
    color: var(--color3);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

section.about .container-about {
    margin: 0 auto;
}

section.about .container-about > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.about h2 {
    font-size: 36px;
    text-align: center;
    padding: 60px 0 40px 0;
}

section.about h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    margin: 8px auto;
    background-color: #FCC319;
}

section.about p {
    font-size: 18px;
    margin-bottom: 60px;
    padding: 10px;
}

section.about p span {
    color: #FCC319;
}

section.about .container-about div img {
    width: 60%;
}

/* technology */

section.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

section.technology h2 {
    color: var(--color2);
    font-size: 36px;
    text-align: center;
    padding: 60px 0 40px 0;
}

section.technology h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    margin: 8px auto;
    background-color: #FCC319;
}

section.technology p {
    color: var(--color2);
    font-size: 18px;
    margin-bottom: 0px;
    padding: 10px;
}

section.technology p .link-rocket {
    color: var(--color1);
    text-decoration: none;
    font-weight: bold;
}

section.technology .technology-text-and-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section.technology .technology-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

section.technology .workflow-icon {
    margin: 10px;
    width: 80px;
    height: 80px;
}

/* contact */
section.contact {
    background-image: url('../assets/images/background2.svg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;

}

section.contact .container-contact h2 {
    font-size: 36px;
    text-align: center;
    padding: 60px 0 40px 0;
    color: var(--color3);
}

section.contact .container-contact h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    margin: 8px auto;
    background-color: #FCC319;
}


section.contact .container-contact p {
    color: var(--color3);
    font-size: 18px;
    margin-bottom: 0px;
    padding: 10px;
}

section.contact .container-contact .media-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.contact .container-contact .media-social span {
    color: #FCC319;
}

section.contact .container-contact .media-social a {
    color: var(--color3);
}

section.contact .container-contact .media-social img {
    margin-right: 10px;
}

/* footer */
footer.footer {
    
}



/* media */

@media screen and (max-width: 900px) {

    header.header .logo-navigation .menu-hamburger {
        display: block;
        position: absolute;
        right: 0;
    }

    header.header .logo-navigation .navigation {
       display: none;
       position: absolute;
       background-color: var(--color1);
       border-top: 1px solid #FCC319;
       border-bottom: 1px solid #FCC319;
       bottom: -58px;
       width: 100%;
       
    }

    header.header .logo-navigation .navigation ul {
        display: flex;
        justify-content: center;
    }

    header.header .logo-navigation .navigation ul li {
        padding: 20px;
    }

    header.header .logo-navigation .navigation ul li + li {
        margin-left: 0px;
    }

    header.header .container-header-2 > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    header.header .container-header-2 .text h1 {
        font-size: 36px;
    }

    header.header .container-header-2 .text span {
        font-size: 36px;
    }

    header.header .container-header-2 .text {
        margin-bottom: 60px;
    }

    header.header .container-header-2 .callToAction {
        display: none;
    }

    header.header .container-header-2 img {
        width: 60%;
    }

    /* about */

    section.about p {
        margin-bottom: 40px;
    }

    section.about .container-about div img {
        width: 40%;
    }

    
}
