// gerais
body {
    min-width: 280px;
    color: $cor3;
}

p, a {
    font-family: $fonte1;
    color: $cor3;
}

img {
    width: 100%;
}

// topo - header
.top {
    background: url("../../assets/img/bg-top.jpg") no-repeat center;
    background-size: cover; 
}

.bg-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba($cor1, .9);
    height: 100vh;
}

.container {
    justify-content: space-around;
}

.container.top {
    width: 100%;
    margin-top: 20px;
    background: none;
    @include device(tablet) {
        align-content: center;
        flex-direction: row;
        padding: 0 20px;
    }
    @include device(mobile) {
        align-content: center;
        flex-direction: row;
    }
}

.logo a {
    @include tipografia1;
    @include device(mobile) {
        padding-right: 10px;
        @include tipografia4;
    }
}

.logo span {
    font-size: 36px;
    color: $cor2;  
}

.menu-top {
    @include device(tablet) {
        display: none;
    }
    @include device(mobile) {
        display: none;
    }
}

.menu-top.ativo-mobile {
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 40px;
    margin-bottom: -80px;
    z-index: 1;
    @include device(tablet) {
        margin-left: -20px;
    }
}

.menu-top.ativo-mobile ul {
    background-color: $cor1;
    max-width: 1000px;
    margin: 20px 0 20px 0;
    @include myFlex;
    flex-direction: column;
}

.menu-top.ativo-mobile ul li {
    padding: 0px;
    border-bottom: 1px solid $cor4;
}

.menu-top.ativo-mobile ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

.menu-hamburguer {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    cursor: pointer;
    @include device(tablet) {
        visibility: visible;   
    }
    @include device(mobile) {
        visibility: visible;   
    }
}

.menu-hamburguer1, .menu-hamburguer2, .menu-hamburguer3  {
    content: '';
    width: 40px;
    height: 3px;
    background-color: $cor3;
}

.menu-hamburguer2 {
    margin-top: 6px;
}
.menu-hamburguer3 {
    margin-top: 6px;
}

.menu-top ul {
    @include myFlex; 
    box-sizing: border-box;
}

.menu-top ul li {
    padding: 16px 0px;
}

.menu-top ul li a {
    padding: 8px;
    text-transform: uppercase;
}

.menu-top ul li a span {
    font-size: 22px;
    color: $cor2;  
}

.menu-top ul li:hover {
    color: $cor2;
    box-sizing: border-box;
    @include device(tablet) {
        background-color: rgba($cor3, .1);
    }
}

.menu-top ul li a:hover {
    color: $cor2;
}

.title-top, .top p, .quote {
    text-align: center;
}

.title-top {
    @include tipografia3;
    display: flex;
    flex-direction: column;
    @include device(mobile) {
        @include tipografia1;
    }
    @include device(smallMobile) {
        @include tipografia4;
    }
}

.title-top span {
    font-size: 36px;
    color: $cor2;
}


.quote {
    padding: 0 10px;
}
.quote p {
    font-style: italic;
}

.quote p::before, .quote p::after {
    @include separador;
    margin: 20px auto;
}

.callToAction-product {
   @include btn-callToAction;
   @include tipografia2;
   transition: .5s;
   margin-bottom: 40px;
   @include device(tablet) {
    margin-bottom: 80px;
   }
   @include device(mobile) {
    margin-bottom: 80px;
   }
}

.callToAction-product a {
    height: 40px;
    padding: 20px;
}

.callToAction-product:hover {
    background-color: $cor5;
    transition: .5s;
}

footer {
    background-color: $cor1;
    padding-bottom: 40px;
}

.contact {
    @include tipografia1;
    background-color: $cor1;
    padding: 40px 0;
    text-align: center;
}

.container {
    @include device(mobile) {
        flex-direction: column;
    }
}

.container.contact {
    display: flex;
    flex-direction: column;
}

.contact::after {
    @include separador;
    margin: 20px auto 0;
    background-color: $cor3;
}

.contact-data {
    @include myFlex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
    @include tipografia2;
    @include device(mobile) {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
}

.contact-data div {
    max-width: 450px; 
    @include device(mobile) {
        margin-bottom: 20px;
    }
}

.contact-phrase {
    margin-bottom: 20px;
    @include device(mobile) {
        margin-bottom: 40px;
    }
}

.contact-data a {
    color: $cor2;
}

span.whats, span.email {
    @include tipografia2;
    display: block;
    color: $cor3;
}

span.email {
    margin-top: 20px;
}

.social-networks img {
    width: 38px;
    height: 38px;
    margin: 0 10px 0 10px;
}
